aside {
  /* background-color: lightcoral; */
  margin-top: 32px;
}

aside h2 {
  /* background-color: lightblue; */
  color: var(--main-text);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px 0;
}

.projects-container {
  /* background-color: lightgoldenrodyellow; */
  margin-top: 16px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
  justify-items: center;
}

.btn-createProjects {
  background-color: #8b5cf623;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding-bottom: 8px;
}

.btn-createProjects,
.project-card {
  transition:
    background-color 0.3s ease,
    transform 0.2s ease-in; /* test */
  width: 150px;
  height: 150px;
  border-radius: 16px;
}

.btn-createProjects svg {
  /* background-color: lightcoral; */
  width: 100%;
  height: 60%;
}

.btn-createProjects p {
  font-weight: bold;
}

.btn-createProjects:hover {
  background-color: #8b5cf663;
  transform: scale(1.02);
}

.project-card {
  background-color: var(--primary);
  color: var(--main-text);
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}
