.form-container {
  background-color: #000000a0;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* ############################################# */

form,
.task-info-container {
  background-color: var(--high-surface);
  padding: 48px 24px;
  border-radius: 16px;
  position: relative;
  color: var(--second-text);
  width: 340px;
}

.btn-close-form{
  position: absolute;
  width: 24px;
  top: 16px;
  right: 16px;
  padding: 0;
  transition: transform 0.2s ease-in; /* test */
}

.btn-close-form svg {
  fill: #ff0000;
}

.btn-close-form:hover {
  transform: scale(1.1);
}

form label {
  margin: 12px 0;
}

form input {
  border: 1px solid var(--borders);
  background-color: #8b5cf614;
  outline: none;
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  width: 100%;
}

form input:focus {
  outline: 1px solid var(--primary);
}

.formBtn {
  background-color: var(--primary);
  color: var(--main-text);
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease-in; /* test */
}

/* Se puede borrar la taskInfo */

form .formBtn:hover, .task-info-btn {
  background-color: #8b5cf684;
  transform: scale(1.01);
}

.form-header, .task-info-container h2 {
  color: var(--main-text);
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 8px 0;
}

fieldset {
  border: 1px solid var(--borders);
  margin-top: 8px;
  border-radius: 8px;
}

.priority-checkbox {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.priority-checkbox label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.priority-checkbox input {
  width: 16px;
  border: 1px solid var(--borders);
}

.priority-checkbox input:checked {
  background-color: var(--primary);
}

.priority-checkbox .date-input {
  padding: 0 4px;
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
}

.create-task-btn {
  margin-top: 24px;
}


/* ############################################# */
