.container {
  position: relative;
  padding: 60px 32px 0;
}

main h1,
section h1 {
  /* background-color: lightblue; */
  color: var(--main-text);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px 0;
  line-height: 1.2;
}

.btn-create {
  margin-top: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #8b5cf623;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease-in; /* test */
}

.btn-create svg {
  width: 40px;
}

.btn-create p {
  font-weight: bold;
}

.btn-create:hover,
.project-card:hover {
  background-color: #8b5cf663;
  transform: scale(1.01);
}

.project-container,
.task-container {
  width: 100%;
  margin-top: 24px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
  justify-items: center;
}

.project-card {
  background-color: var(--primary);
  color: var(--main-text);
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease-in; 
  width: 160px;
  height: 160px;
  border-radius: 16px;
  padding: 8px;
}

.project-card p {
  padding: 8px 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
