.project-page-btns {
  /* background-color: lightblue; */
  width: 30px;
  position: absolute;
  top: 16px;
}

.project-page-btns:hover {
  color: var(--primary);
  transform: scale(1.01);
  transition:
    color 0.3s ease,
    transform 0.2s ease-in; /* test */
}

.info-project-button {
  right: 16px;
}

.btn-back {
  left: 16px;
}

/* .header-section {
  background-color: lightblue;
  color: var(--main-text);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 8px;
} */

.info-list {
  background-color: var(--high-surface);
  position: absolute;
  top: 16px;
  right: 48px;
  border-radius: 4px;
}

.project-btns-info,
.task-btns-info {
  padding: 8px;
  border: 1px solid var(--borders);
  width: 150px;
  color: var(--second-text);
}

.project-btns-info:hover {
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--main-text);
}

.task-container {
  border-radius: 8px;
  background-color: var(--high-surface);
  margin-top: 32px;
  max-height: 500px;
  overflow-y: scroll;
  display: grid;
  gap: 8px;
}

.taskList {
  position: relative;
  border: 1px solid var(--borders);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  border-radius: 8px;
  gap: 4px;
}

.taskList:hover {
  /* background-color: lightcoral; */
  background-color: var();
}

.task-btn,
.task-info {
  border-radius: 8px;
}

.task-btn {
  padding: 16px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* background-color: lightgoldenrodyellow; */
}

.task-info {
  background-color: var(--primary);
  color: var(--main-text);
  font-weight: bold;
  padding: 6px;
  border-radius: 8px;
}

.task-info-content {
  padding: 12px 0;
}

.task-info-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 16px 0 0;
}

.task-info-btn {
  background-color: var(--primary);
  color: var(--main-text);
  width: 120px;
  padding: 8px;
  border-radius: 8px;
  font-size: 1.1rem;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease-in;
}

.task-info-content {
  margin: 4px 0;
  padding: 4px;
  max-height: 60px;
  overflow-y: scroll;
}

.visible {
  display: block;
}
